* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
  background-color: darkgrey;
  grid-area: encabezado;
}

body {
  background-color: rgb(251, 205, 255);
}

footer {
  background-color: rgba(169, 169, 169, 0.24);
  font-style: italic;
  font-family: 'Alkalami', serif;
  grid-area: pie;
}

footer a i{
  font-size: 2rem;
}

h2 {
  background-color: hotpink;
}

h1 {
  font-style: italic;
  font-family: 'Alkalami', serif;
  font-size: 60px;
  text-align: center;
}

a {
  text-decoration: none;
  font-weight: bold;
}

