* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
  background-color: darkgrey;
}

body {
  background-color: rgb(251, 205, 255);
}

footer {
  background-color: darkgray;
  font-style: italic;
  font-family: 'Alkalami', serif;
}

footer a i{
  font-size: 2rem;
}

.remarcado {
  background-color: hotpink;
}

h1 {
  font-style: italic;
  font-family: 'Alkalami', serif;
  font-size: 60px;
  text-align: center;
}

a {
  text-decoration: none;
  font-weight: bold;
}

